{% extends "layouts/base.html" %}

{% block content %}

<form class="m-4">
    <h3 class="pb-4">Iniciar sesión</h3>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-dark">Iniciar sesión</button>
</form>

{% endblock %}