{% extends "layouts/base.html" %}

{% block title %}Publicaciones{% endblock %}

{% block content %}

{% if posts %}

    {% for post in posts %}

    <div class="card">
        <div class="card-body m-3">

            <h3 class="card-title"><a class="text-decoration-none text-dark" href="/profile/{{ post.autor }}">@{{ post.autor }}</a></h3>
            <p class="card-text">{{ post.fecha }}</p>

            <form method="POST" class="like-form" id="post-{{ post.id }}">
                <p class="card-text" id="content-{{ post.id }}">{{ post.contenido }}</p>
        
                {% if user.is_authenticated %}
                    {% csrf_token %}
                    {% if request.user in post.likes.all %}
                        <button type="button" class="btn btn-primary btn-dark like_button" data-post-id="{{ post.id }}">
                            {{ post.likes.all.count }} Likes
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-primary btn-light like_button" data-post-id="{{ post.id }}">
                            {{ post.likes.all.count }} Likes
                        </button>
                    {% endif %}

                    {% if post.autor == request.user %}
                        <button type="button" class="btn btn-light edit_post" data-post-id="{{ post.id }}">Modificar</button>
                        <button type="button" class="btn btn-light delete_post" data-post-id="{{ post.id }}">Eliminar</button>
                    {% endif %}
                {% else %}
                <a  href="{% url 'login' %}">
                    <button type="button" class="btn btn-primary btn-light">
                        {{ post.likes.all.count }} Likes
                    </button>
                </a>
                {% endif %}
            </form>

            {% if user.is_authenticated %}
                <form method="POST" id="edit-{{ post.id }}" style="display: none;">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="¿Qué tienes en mente?" id="area-{{ post.id }}" value="Prueba" name="biografia">{{ post.contenido }}</textarea>
                        <label for="area-{{ post.id }}">Editar publicación</label>
                    </div>

                    <button type="button" class="btn btn-dark submit_edit" data-post-id="{{ post.id }}">Guardar cambios</button>
                    <button type="button" class="btn btn-dark edit_post" data-post-id="{{ post.id }}">Descartar cambios</button>
                </form>
            {% endif %}
        </div>
    </div>

    {% endfor %}

    <br>

    <div class="d-flex justify-content-center mt-2 mb-5 pages">
        <nav aria-label="...">
            <ul class="pagination">

                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}">Atrás</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" href="?page=1">Atrás</span>
                    </li>
                {% endif %}

                
                {% for num in posts.paginator.page_range %}
                    <li class="page-item {% if num == posts.number%}active{% endif %}" aria-current="page">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}


                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>

{% else %}

    <div class="container mt-4 border p-4">
        <h2>Aún no hay publicaciones</h2>
        <a class="text-decoration-none" href="{% url 'new' %}">Sé el primero en hacer un post</a>
    </div>

{% endif %}

<br>
<br>
<br>
<br>

{% endblock %}