{% extends "layouts/main.html" %}

{% block title %}Publicaciones{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body m-3">
        <h5 class="card-title">@DTCarlox77</h5>
        <p class="card-text">Qué aburrido</p>

        <p class="card-text">20/12/23 - 02:22 pm</p>
        <a href="#" class="btn btn-primary btn-dark">5 Likes</a>
    </div>
</div>

<div class="card">
    <div class="card-body m-3">
        <h5 class="card-title">@DTCarlox77</h5>
        <p class="card-text">Qué aburrido</p>

        <p class="card-text">20/12/23 - 02:22 pm</p>
        <a href="#" class="btn btn-primary btn-dark">5 Likes</a>
    </div>
</div>

<div class="card">
    <div class="card-body m-3">
        <h5 class="card-title">@DTCarlox77</h5>
        <p class="card-text">Qué aburrido</p>

        <p class="card-text">20/12/23 - 02:22 pm</p>
        <a href="#" class="btn btn-primary btn-dark">5 Likes</a>
    </div>
</div>

<div class="card">
    <div class="card-body m-3">
        <h5 class="card-title">@DTCarlox77</h5>
        <p class="card-text">Qué aburrido</p>

        <p class="card-text">20/12/23 - 02:22 pm</p>
        <a href="#" class="btn btn-primary btn-dark">5 Likes</a>
    </div>
</div>

{% endblock %}