{% extends "layouts/base.html" %}

{% block title %}Publicaciones{% endblock %}

{% block content %}

{% if posts %}

    {% for post in posts %}

    <div class="card">
        <div class="card-body m-3">
            <h3 class="card-title"><a class="text-decoration-none text-dark" href="/profile/{{ post.autor }}">@{{ post.autor }}</a></h3>
            <p class="card-text">{{ post.contenido }}</p>
    
            <p class="card-text">{{ post.fecha }}</p>

            <form method="POST" class="like-form">
                {% csrf_token %}
                <button type="button" class="btn btn-primary btn-dark like_button" data-post-id="{{ post.id }}">
                    {% if post.likes.all %}
                        {{ post.likes.all.count }} Likes
                    {% else %}
                        0 Likes
                    {% endif %}
                </button>
            </form>
        </div>
    </div>

    {% endfor %}

    <div class="d-flex justify-content-center mt-5">
        <nav aria-label="...">
            <ul class="pagination">

                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}">Atrás</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" href="?page=1">Atrás</span>
                    </li>
                {% endif %}

                
                {% for num in posts.paginator.page_range %}
                    <li class="page-item {% if num == posts.number%}active{% endif %}" aria-current="page">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}


                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>

{% else %}

    <div class="container mt-4 border p-4">
        <h2>Aún no hay publicaciones</h2>
        <a class="text-decoration-none" href="{% url 'new' %}">Sé el primero en hacer un post</a>
    </div>

{% endif %}

{% endblock %}
