{% extends "layouts/base.html" %}

{% block title %}Mi perfil{% endblock %}

{% block content %}

<div class="container border mt-4 mb-4 p-2">
    <h2>@DTCarlox77</h2>
    <h6 class="ml-5 mt-2">Mi biografía</h6>
    <div class="span border m-2 p-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit harum repellat, natus distinctio culpa vero
            dolores. Ab repudiandae neque quae pariatur voluptatum sapiente cum nulla. Est eveniet consequuntur vero
            esse.</p>
    </div>
    <h5>24 seguidores</h5>
    <h5>5 seguidos</h5>
    <button class="btn btn-dark">Dejar de seguir</button>
</div>

<div class="container border mt-4 mb-4 p-2">
    <h2>@DTCarlox77</h2>
    <h6 class="ml-5 mt-2">Mi biografía</h6>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="¿Qué tienes en mente?" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Redacta tu biografía</label>
    </div>
    <h5>24 seguidores</h5>
    <h5>5 seguidos</h5>
    <button class="btn btn-dark">Guardar cambios</button>
</div>

<div class="card">
    <div class="card-body m-3">
        <h5 class="card-title">@DTCarlox77</h5>
        <p class="card-text">Qué aburrido</p>

        <p class="card-text">20/12/23 - 02:22 pm</p>
        <a href="#" class="btn btn-primary btn-dark">5 Likes</a>
    </div>
</div>

<div class="card">
    <div class="card-body m-3">
        <h5 class="card-title">@DTCarlox77</h5>
        <p class="card-text">Qué aburrido</p>

        <p class="card-text">20/12/23 - 02:22 pm</p>
        <a href="#" class="btn btn-primary btn-dark">5 Likes</a>
    </div>
</div>

<div class="card">
    <div class="card-body m-3">
        <h5 class="card-title">@DTCarlox77</h5>
        <p class="card-text">Qué aburrido</p>

        <p class="card-text">20/12/23 - 02:22 pm</p>
        <a href="#" class="btn btn-primary btn-dark">5 Likes</a>
    </div>
</div>

{% endblock %}