{% extends "layouts/base.html" %}

{% block title %}Mi perfil{% endblock %}

{% block content %}

{% if perfil == 'propio' %}

    <div class="container border mt-4 mb-4 p-2">
        <h2>@{{ username.username }}</h2>
        <h4>{{ username.name }} {{ username.lastname }}</h4>
        <hr>
        <h6 class="ml-5 mt-2">Mi biografía</h6>
        <form action="{% url 'profile' username.username %}" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="¿Qué tienes en mente?" id="floatingTextarea" value="Prueba" name="biografia">{{ username.biografia }}</textarea>
                <label for="floatingTextarea">Redacta tu biografía</label>
            </div>
            <hr>
            <h5>{{ seguidores }} seguidores</h5>
            <h5>{{ siguiendo }} seguidos</h5>
            <br>
            <button type="submit" class="btn btn-dark">Guardar cambios</button>
        </form>
    </div>

    <h3 class="p-4">Tus posts</h3>

{% else %}

    <div class="container border mt-4 mb-4 p-2">
        <h2>@{{ username.username }}</h2>

        {% if username.biografia %}
            <h6 class="ml-5 mt-2">Biografía</h6>
            <div class="span border m-2 p-2">
                <p>{{ username.biografia }}</p>
            </div>
        {% else %}
            <h6 class="ml-5 mt-2">Biografía</h6>
            <div class="span border m-2 p-2">
                <p>Este usuario no posee una biografía</p>
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}         
            <h5 id="cantidad_seguidores">{{ seguidores }} Seguidores</h5>
            <h5>{{ siguiendo }} Seguidos</h5>   

            {% if seguidor %}
                <button type="button" class="btn btn-dark" data-usuario="{{ username.username }}" id="follow_button">Siguiendo</button>
            {% else %}
                <button type="button" class="btn btn-dark" data-usuario="{{ username.username }}" id="follow_button">Seguir</button>
            {% endif %}
            
        </form>

    </div>

{% endif %}

{% if page_posts %}

    {% for post in page_posts %}

    <div class="card">
        <div class="card-body m-3">
            <h3 class="card-title">@{{ post.autor }}</h3>
            <p class="card-text">{{ post.contenido }}</p>
    
            <p class="card-text">{{ post.fecha }}</p>

            <form method="POST" class="like-form" id="post-{{ post.id }}">
                {% csrf_token %}
                {% if request.user in post.likes.all %}
                    <button type="button" class="btn btn-primary btn-dark like_button" data-post-id="{{ post.id }}">
                        {{ post.likes.all.count }} Likes
                    </button>
                {% else %}
                    <button type="button" class="btn btn-primary btn-light like_button" data-post-id="{{ post.id }}">
                        {{ post.likes.all.count }} Likes
                    </button>
                {% endif %}

                {% if perfil == 'propio' %}
                    <button type="button" class="btn btn-light edit_post" data-post-id="{{ post.id }}">Modificar</button>
                    <button type="button" class="btn btn-light delete_post" data-post-id="{{ post.id }}">Eliminar</button>
                {% endif %}
            </form>
        </div>
    </div>

    {% endfor %}

    <div class="d-flex justify-content-center mt-5">
        <nav aria-label="...">
            <ul class="pagination">

                {% if page_posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_posts.previous_page_number }}">Atrás</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" href="?page=1">Atrás</span>
                    </li>
                {% endif %}
                
                {% for num in page_posts.paginator.page_range %}
                    <li class="page-item {% if num == page_posts.number%}active{% endif %}" aria-current="page">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_posts.next_page_number }}">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>

{% else %}

    <div class="container mt-4 border p-4">
        <h2>{% if perfil == 'propio' %}No has hecho publicaciones{% else %}Esta persona no ha hecho publicaciones{% endif %}</h2>
    </div>

{% endif %}

{% endblock %}