{% extends "layouts/base.html" %}

{% block content %}

<form class="m-4">

    <h3 class="pb-4">Crear cuenta</h3>

    <div class="mb-3">  
        <div class="col">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo electrónico">
        </div>
        <div class="col pt-3">
            <input type="text" class="form-control" id="Username" placeholder="Nombre de usuario">
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombres" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos" aria-label="Last name">
        </div>
    </div>

    <div class="mb-3">  
        <div class="col">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Iniciar sesión</button>
</form>

{% endblock %}