.red_message {
    color: red;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

footer {
    margin-top: auto;
}

#floatingTextarea {
    height: 110px;
    resize: none; 
}

.pagination .page-link {
    background-color: #fff; 
    color: #000;
    border-color: black;
}

.pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: black;
}

.text {
    text-decoration: none;
}

.cuerpo {
    margin-top: 80px;
}