.red_message {
    color: red;
}

#floatingTextarea {
    height: 110px;
    resize: none; 
}

.pagination .page-link {
    background-color: #fff; 
    color: #000;
    border-color: black;
}

.pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: black;
}

.text {
    text-decoration: none;
}

.portada {
    object-fit: cover;
    max-height: 150px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

.cuerpo {
    margin-top: 150px;
}